mat-form-field {
    width: 80%;
    margin: 0.8% 10%;
}
.iconButton {
    font-size: 145% !important;
    padding-left: 35%;
    padding-bottom: 35%;
}
.submit {
    width: 80%;
    height: 42px;
    margin: 0 10%;
    margin-top: 3%;
    border: thin solid #888;
}
#customBtn {
    width: 80%;
    height: 10%;
    margin: 0 10%;
    display: inline-block;
    background: #F5F5F5;
    color: #444;
    border-radius: 3px;
    border: thin solid #888;
    box-shadow: 1px 1px 1px grey;
    white-space: nowrap;
}
#customBtn:hover {
  cursor: pointer;
}
span.label {
  font-family: serif;
  font-weight: normal;
}
.container-background {
  padding: 1% 0%;
  margin: 2% 30%;
  width: 40%;
}
span.icon {
  background: url('../../assets/googleIcon.png') transparent 0px 50% no-repeat;
  display: inline-block;
  vertical-align: middle;
  width: 42px;
  height: 42px;
}
div.racchiuditoredispan {
  text-align: center;
}
#erroreEmail {
  color: red;
  width: 80%;
  margin: 0.8% auto;
}
#passaAIscriviti {
  width: 75%;
  margin: 1.5% auto;
  height: 36px;
  display: table; 
  overflow: hidden;
}
span.buttonText {
  display: inline-block;
  vertical-align: middle;
  padding-left: 0%;
  font-size: 14px;
  font-weight: bold;
  /* Use the Roboto font that is loaded in the <head> */
}
.phoneDiv {
  width: 80%;
  margin: 0.6% 10%;
}
.phoneBtn {
  height: 42px;
  width: 100%;
}
#recaptcha-container {
  width: 304px !important;
  margin: auto;
}
mat-slide-toggle {
  margin: 0.6% 10%;
}