<div class="container-background">
    <mat-slide-toggle class="loginMedico" (change)="cambiaTipoAccesso($event);">Accedi come medico</mat-slide-toggle>
    <br>
    <form [formGroup]="loginForm" (ngSubmit)="login()" class="">
        <mat-form-field>
            <mat-label>{{labelTitle}}</mat-label>
            <input (blur)="updateValidators()" matInput id="emailPhone" class="form-control" placeholder="" formControlName="emailPhone" [attr.disabled]="windowRef.confirmationResult" required>
            <mat-icon matSuffix >{{icon}}</mat-icon>
            <mat-error *ngIf="emailPhone.invalid">
                <div *ngIf="emailPhone.errors.pattern">
                    Inserire un numero di telefono valido (Es. +39 3124567890)
                </div>
                <div *ngIf="emailPhone.errors.required">
                    Insertire una mail o un numero di telefono
                </div>
                <div *ngIf="emailPhone.errors.email">
                    Inserire una mail valida
                </div>
            </mat-error>
        </mat-form-field>
        <br />
        <div id="div_passwords" [hidden]="captchaShow">
            <mat-form-field>
                <mat-label>Password</mat-label>
                <input matInput id="password" class="form-control" placeholder="Password" [type]="!hide ? 'password' : 'text'" formControlName="password" >
                <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
                <mat-error *ngIf="password.invalid">
                    <div *ngIf="password.errors.minlength">La password deve esser lunga almeno 6 caratteri</div>
                    <div *ngIf="password.errors.maxlength">La password deve esser lunga massimo 30 caratteri</div>
                    <div *ngIf="password.errors.pattern">La password deve contenere lettere e numeri e non può contenere caratteri speciali</div>
                </mat-error>
            </mat-form-field>
            <br />
            <br />
            <div *ngIf="!authSer.loginEsito" id="erroreEmail">Email e Password non coincidono</div>
            <div *ngIf="qualcosaDiStorto">Qualcosa è andato storto nel reset</div>
            <div style="text-align: center; cursor: pointer;">
                    <a *ngIf="!resetPassword && isValidMailFormat(emailPhone.value)" (click)="sendResetEmail()"><u>Reset Password per {{emailPhone.value}}</u></a>
            </div>
            <div style="text-align: center;">
                    <p *ngIf="resetPassword" class="text-success"><b>Controlla la tua mail per reimpostare la password</b></p>
            </div>
        </div>
        <button class="submit" *ngIf="!captchaShow" mat-raised-button type="submit" [disabled]="!loginForm.valid"><b>ACCEDI</b></button>
    </form>
    <br />
    <div  [hidden]="!captchaShow" class="phoneDiv">
        <div [hidden]="windowRef.confirmationResult" id="recaptcha-container"></div><br />
        <button [disabled]="windowRef.confirmationResult" class="phoneBtn" mat-raised-button (click)="phoneSendLoginCode()">Manda SMS con codice verifica <div *ngIf="windowRef.confirmationResult">Messaggio Inviato</div></button>
        <br />
        <br />
        <div *ngIf="windowRef.confirmationResult">
            <mat-form-field appearance="fill" style="margin-top: 2%;"> <!-- ALTERNATIVE "outline" "standard"    chiedi feedback matteo -->
                <mat-label>Inserisci il codice di verifica</mat-label>
                <input matInput type="text" name="code" [(ngModel)]="verificationCode">
            </mat-form-field>
            <button mat-raised-button class="phoneBtn" (click)="login()"><b>VERIFICA E ACCEDI</b></button>
        </div>
        <br *ngIf="windowRef.confirmationResult" />
    </div>
    <div id="customBtn" (click)="googleLogin()" class="customGPlusSignIn">
        <div class="racchiuditoredispan">
            <span class="icon"></span>
            <span class="buttonText">Google Login</span>
        </div>
    </div>
    <br />
    <br />
    <div id="passaAIscriviti">
        <font style="display: table-cell; vertical-align: middle;">Non sei ancora registrato? </font>
        <button mat-stroked-button color="warn" [routerLink]="['/account/signup']" routerLinkActive="router-link-active" style="float:right"><b>ISCRIVITI</b></button>
    </div>
</div>