mat-tab-group {
    width:70%;
    margin: 0 15%;
}
mat-card {
    height:118px;
}
.photo {
    position: fixed;
    top: 20%;
    float: center;
    width: 44%;
    height: auto;
    margin: 0 28%;
    z-index: 9999;
}
.ricettacls {
    background-image: linear-gradient(to right,rgba(255,255,255,0), rgba(247, 118, 148, .7));
}
.visitacls {
    background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(196, 247, 118, .7));
}
#background {
    overflow-x: hidden !important;
}
.container {
    overflow-x: hidden !important;
}
#background-tab {
    position: relative;
    width: 70%;
    top: 48px;
    margin: 0 15%;
    height:48px;
    background-color: rgba(255,255,255,0.7);
}
.pren-container {
    margin: 20px 12%;
    width: 76%;
}
.pren-container:nth-child(1) {
    margin: 20px 9%;
    width: 82%;
}
.pren-container-dyn {
    margin: 20px 21.3%;
    width: 57.4%;
}
.pren-container-dyn:nth-child(1) {
    margin: 20px 19%;
    width: 62%;
}
.iconButton {
    margin-right: 1%;
    float: right;
}
.notClickable {
    pointer-events: none;
}
.chip-info {
    padding-left: 30px;
    height: 50px;
    font-size: 20px;
    border-radius: 25px;
    width: 37%
}
.chip-info-little {
    padding-left: 24px;
    height: 40px;
    font-size: 19px;
    border-radius: 25px;
    width: 22%
}
.chip-list {
    position: static;
    z-index: 999;
    margin: 1% calc(50% - 350px);
    margin-top: 1%;
    width: 700px;
    height:50px;
}
.spazietto {
    margin: 0 5% !important;
}
mat-chip-list {
    display:block;
}
.indicazioni-text-visita {
    background-color: #F5F5F5;
    width: 95%;
    font-size: 17px;
    margin-right: 5%;
    border-radius: 12px;
    padding: 12px 10px;
    border: 1px solid #A2EE2E;
    height: 40px;
}
.indicazioni-text-ricetta {
    background-color: #F5F5F5;
    width: 95%;
    font-size: 17px;
    margin-right: 5%;
    border-radius: 12px;
    padding: 12px 10px;
    border: 1px solid #ED2E5B;
    height: 40px;
}
.icona {
    margin-right: 0%;
    font-size: 80px;
    top: 34px;
    position: absolute;
    display:inline-block;
}
.nominativo-pren {
    display:inline-block;
}
.codFis-pren {
    width:100%;
    text-transform: uppercase;
    font-size: 20px;
    margin-bottom: 18px;
}
.container-nome-cod {
    display:inline-block;
    width: 90%;
    padding-left: 8px;
}
.scritta-chip {
    display: inline-block;
    overflow: hidden; 
    text-overflow: ellipsis;
    white-space: nowrap;
}
.numeretto {
    margin-left: 25px;
    background-color: aliceblue;
    border-radius: 100%;
    width: 19%;
    height: 85%;
    padding-top: 3%;
    text-align: center;
    display: inline-block;
}
.littlenum {
    margin-left: 22px;
    width: 25%;
    height: 113%;
    padding-top: 3%;
    font-size: 19px;
}
.littlescritta {
    width: 65px
}
.outer {
    width: 220px;
    height: 220px;
    bottom: 40px;
    right: 70px;
    position:fixed;
    border-radius: 100%;
    border: solid 3px #3686FC;
    cursor: pointer;
    -moz-transition: all 0.6s ease;
	/* WebKit */
	-webkit-transition: all 0.6s ease;
	/* Opera */
	-o-transition: all 0.6s ease;
	/* Standard */
	transition: all 0.6s ease;
}
.mask {
    position:absolute;
    top: 55px;
    width: 220px;
    height: 110px;
    overflow: hidden;
	/* Firefox */
	-moz-transition: all 0.6s ease;
	/* WebKit */
	-webkit-transition: all 0.6s ease;
	/* Opera */
	-o-transition: all 0.6s ease;
	/* Standard */
	transition: all 0.6s ease;
}
.outer:hover .mask {
    transform:rotate(270deg);
    -ms-transform:rotate(270deg); /* IE 9 */
    -webkit-transform:rotate(270deg); 
    height: 220px;
    top: 0;
}
.outer-name {
    width: 220px;
    height: 220px;
    bottom: 40px;
    right: 70px;
    position:fixed;
    border-radius: 100%;
    background-color: #F5F5F5;
    border: solid 3px #3686FC;
    font-size: 36px;
}
.ring {
    position: absolute;
    top:-55px;
    width: 200px;
    height: 200px;
    border: solid 10px #3686FC;
    border-radius: 100%;  
	/* Firefox */
	-moz-transition: all 0.6s ease;
	/* WebKit */
	-webkit-transition: all 0.6s ease;
	/* Opera */
	-o-transition: all 0.6s ease;
	/* Standard */
	transition: all 0.6s ease;
}

.outer:hover .ring {
    top: 0px;
}
.nameIntheRing {
    position: fixed;
    bottom: 130px;
    right: 110px;
}
.next-icon {
    font-size: 40px;
    vertical-align: middle;
}
.outer-outBorder {
    width: 300px;
    height: 300px;
    bottom: 3px;
    right: 33px;
    position:fixed;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.65);
}






/* -60px */
.outer-mini {
    width: 160px;
    height: 160px;
    bottom: 40px;
    right: 70px;
    position:fixed;
    border-radius: 100%;
    border: solid 3px #3686FC;
    cursor: pointer;
    -moz-transition: all 0.6s ease;
	/* WebKit */
	-webkit-transition: all 0.6s ease;
	/* Opera */
	-o-transition: all 0.6s ease;
	/* Standard */
	transition: all 0.6s ease;
}
.mask-mini {
    position:absolute;
    top: 55px;
    width: 162px;
    height: 50px;
    overflow: hidden;
    right: -0px;
	/* Firefox */
	-moz-transition: all 0.6s ease;
	/* WebKit */
	-webkit-transition: all 0.6s ease;
	/* Opera */
	-o-transition: all 0.6s ease;
	/* Standard */
	transition: all 0.6s ease;
}
.outer-mini:hover .mask-mini {
    transform:rotate(270deg);
    -ms-transform:rotate(270deg); /* IE 9 */
    -webkit-transform:rotate(270deg); 
    width: 162px;
    height: 162px;
    top: 0px;
    right: -1px;
}
.outer-name-mini {
    width: 160px;
    height: 160px;
    bottom: 40px;
    right: 70px;
    position:fixed;
    border-radius: 100%;
    background-color: #F5F5F5;
    border: solid 3px #3686FC;
    font-size: 36px;
}
.ring-mini {
    position: absolute;
    top:-55px;
    width: 142px;
    height: 142px;
    right:-1px;
    border: solid 10px #3686FC;
    border-radius: 100%;  
	/* Firefox */
	-moz-transition: all 0.6s ease;
	/* WebKit */
	-webkit-transition: all 0.6s ease;
	/* Opera */
	-o-transition: all 0.6s ease;
	/* Standard */
	transition: all 0.6s ease;
}

.outer-mini:hover .ring-mini {
    top: 0px;
    right: -1px;
}
.nameIntheRing-mini {
    position: fixed;
    bottom: 100px;
    right: 80px;
}
.next-icon-mini {
    font-size: 40px;
    vertical-align: middle;
}
.outer-outBorder-mini {
    width: 240px;
    height: 240px;
    bottom: 3px;
    right: 33px;
    position:fixed;
    border-radius: 100%;
    background-color: rgba(255,255,255,0.65);
}