<img class="photo" (click)="showImage(null)" *ngIf="photoUrl" [src]="photoUrl | async">
<div class="container" *ngIf="medico && medico.medico && modSala=='false'">
    <div *ngIf="medico.ricetteStatiche">
        <div id="background-tab"></div>
        <mat-tab-group mat-stretch-tabs> <!-- mat-stretch-tabs per permettere la modifica dei tab-->
            <mat-tab class="label-tab" label="Visite">
                <div class="pren-container" [@prenSgrizza]="arrayVisite[item.id]" *ngFor="let item of elencoVisite$ | async" >
                    <mat-card *ngIf="item.tipo" [ngClass]="item.tipo+'cls'">
                        <!--button class="iconButton" mat-icon-button (click)="deletePrenotazione(item.id)"><mat-icon>delete</mat-icon></button-->
                        <div class="container-nome-cod">
                            <div class="codFis-pren" (click)="copyStringToClipboard(item.codFis)"><b>{{item.codFis}}</b> &nbsp;&nbsp;&nbsp;(
                                <div class="nominativo-pren">  {{item.nominativo}}</div>
                                <div class="nominativo-pren" *ngIf="item.nominativo == 'Sala attesa'">&nbsp;&nbsp;<i class="material-icons">event_seat</i></div>
                            )
                            </div>
                            <div *ngIf="item.tipo == 'visita'" class="indicazioni-text-visita" [@visite]="visiteEv">
                                {{item.indicazioni}}
                            </div>
                        </div>
                        <i *ngIf="item.tipo" class="material-icons icona">
                            {{item.tipo == 'ricetta' ? 'receipt' : 'accessibility_new'}}
                        </i>
                        <div style="position:absolute; bottom:10px; right:10px; "><b>{{item.codiceAttesa}}</b></div>
                    </mat-card>
                </div>
                <div>
                    <div class="outer-outBorder-mini">
                    </div>
                    <div [@nextPren]="newPren" class="outer-name-mini">
                        <b class="nameIntheRing-mini">NEXT<i class="material-icons next-icon-mini">navigate_next</i></b>
                    </div>
                    <div (click)="nuovaPrenVisita()" class="outer-mini">
                        <div class="mask-mini">
                            <div class="ring-mini"></div>
                        </div>
                    </div>
                </div>
                <div style="display:none">
                    <div class="outer-outBorder">
                    </div>
                    <div [@nextPren]="newPren" class="outer-name">
                        <b class="nameIntheRing">NEXT<i class="material-icons next-icon">navigate_next</i></b>
                    </div>
                    <div (click)="nuovaPrenVisita()" class="outer">
                        <div class="mask">
                            <div class="ring"></div>
                        </div>
                    </div>    
                </div>
            </mat-tab>
            <mat-tab class="label-tab" label="Ricette"> <!-- le mat-card non sono hiddenabbili -->
                <div class="pren-container" [@prenSgrizza]="arrayRicette[item.id]" *ngFor="let item of elencoRicette$ | async">
                    <mat-card *ngIf="item.tipo" [ngClass]="item.tipo+'cls'">
                        <!--button class="iconButton" mat-icon-button (click)="deletePrenotazione(item.id)"><mat-icon>delete</mat-icon></button-->
                        <div class="container-nome-cod">
                            <div class="codFis-pren" (click)="copyStringToClipboard(item.codFis)"><b>{{item.codFis}}</b> &nbsp;&nbsp;&nbsp;(
                                <div class="nominativo-pren">  {{item.nominativo}}</div>
                                <div class="nominativo-pren" *ngIf="item.nominativo == 'Sala attesa'">&nbsp;&nbsp;<i class="material-icons">event_seat</i></div>
                            )
                            </div>
                            <div *ngIf="item.tipo == 'ricetta'" class="indicazioni-text-ricetta" [@ricette]="ricetteEv">
                                <div style="width: calc(100% - 85px);display: inline-block">{{item.indicazioni}}</div><i (click)="showImage(item.photoUrl)" style="font-size:46px; float: right;cursor:pointer;" class="material-icons">photo_library</i>
                            </div>
                        </div>
                        <i *ngIf="item.tipo" class="material-icons icona">
                            {{item.tipo == 'ricetta' ? 'receipt' : 'accessibility_new'}}
                        </i>
                        <div style="position:absolute; bottom:10px; right:10px; "><b>{{item.codiceAttesa}}</b></div>
                    </mat-card>
                </div>
                <div>
                    <div class="outer-outBorder-mini">
                    </div>
                    <div [@nextPren]="newPren" class="outer-name-mini">
                        <b class="nameIntheRing-mini">NEXT<i class="material-icons next-icon-mini">navigate_next</i></b>
                    </div>
                    <div (click)="nuovaPrenRicetta()" class="outer-mini">
                        <div class="mask-mini">
                            <div class="ring-mini"></div>
                        </div>
                    </div>
                </div>
                <div style="display:none">
                    <div class="outer-outBorder">
                    </div>
                    <div [@nextPren]="newPren" class="outer-name">
                        <b class="nameIntheRing">NEXT<i class="material-icons next-icon">navigate_next</i></b>
                    </div>
                    <div (click)="nuovaPrenRicetta()" class="outer">
                        <div class="mask">
                            <div class="ring"></div>
                        </div>
                    </div>    
                </div>
            </mat-tab>
        </mat-tab-group>
    </div>
    <div *ngIf="!medico.ricetteStatiche && elenco$ | async as elenco" class="container-codaNorm">
        <div class="chip-list">
            <mat-chip-list>
                <mat-chip (click)="evidenzia('visite')" class="chip-info-little" style="background-color:#C4F776; border: 2px solid #A2EE2E"><font class="littlescritta">Visite:  </font><div class="numeretto littlenum" style="background-color:#A2EE2E">{{numVisite}}</div></mat-chip>
                <mat-chip (click)="evidenzia('')" class="chip-info spazietto"><font class="scritta-chip">Persone in Coda: </font><div class="numeretto">{{lunghezzaCoda}}</div></mat-chip>
                <mat-chip (click)="evidenzia('ricette')" class="chip-info-little" style="background-color:#F77694; border: 2px solid #ED2E5B"><font class="littlescritta">Ricette: </font><div class="numeretto littlenum" style="background-color:#ED2E5B">{{numRicette}}</div></mat-chip>
            </mat-chip-list>
        </div>
        <div class="containerPrenDinamiche" sortable [data]='elenco' (stop)='update($event)' tabindex="null">
            <div class="pren-container-dyn" [@prenSgrizza]="arrayPren[item.id]" *ngFor="let item of elenco">
                <mat-card  [ngClass]="item.tipo+'cls'">
                    <!--button class="iconButton" mat-icon-button (click)="deletePrenotazione(item.id)"><mat-icon>delete</mat-icon></button-->
                    <div class="container-nome-cod">
                        <div class="codFis-pren" (click)="copyStringToClipboard(item.codFis)"><b>{{item.codFis}}</b> &nbsp;&nbsp;&nbsp;(
                            <div class="nominativo-pren">  {{item.nominativo}}</div>
                            <div class="nominativo-pren" *ngIf="item.nominativo == 'Sala attesa'">&nbsp;&nbsp;<i class="material-icons">event_seat</i></div>
                        )
                        </div>
                        <div *ngIf="item.tipo == 'ricetta'" class="indicazioni-text-ricetta" [@ricette]="ricetteEv">
                            <div style="width: calc(100% - 85px);display: inline-block">{{item.indicazioni}}</div><i (click)="showImage(item.photoUrl)" style="font-size:46px; float: right;cursor:pointer;" class="material-icons">photo_library</i>
                        </div>
                        <div *ngIf="item.tipo == 'visita'" class="indicazioni-text-visita" [@visite]="visiteEv">
                            {{item.indicazioni}}
                        </div>
                    </div>
                    <i *ngIf="item.tipo" class="material-icons icona">
                        {{item.tipo == 'ricetta' ? 'receipt' : 'accessibility_new'}}
                    </i>
                    <div style="position:absolute; bottom:10px; right:10px; "><b>{{item.codiceAttesa}}</b></div>
                </mat-card>
            </div>
        </div>
        <div style="display: none">
            <div class="outer-outBorder">
            </div>
            <div [@nextPren]="newPren" class="outer-name">
                <b class="nameIntheRing">NEXT<i class="material-icons next-icon">navigate_next</i></b>
            </div>
            <div (click)="nuovaPren()" class="outer">
                <div class="mask">
                    <div class="ring"></div>
                </div>
            </div>    
        </div>
        <div>
            <div class="outer-outBorder-mini">
            </div>
            <div [@nextPren]="newPren" class="outer-name-mini">
                <b class="nameIntheRing-mini">NEXT<i class="material-icons next-icon-mini">navigate_next</i></b>
            </div>
            <div (click)="nuovaPren()" class="outer-mini">
                <div class="mask-mini">
                    <div class="ring-mini"></div>
                </div>
            </div>
        </div>
    </div>
</div>