.container-background {
    padding: 1% 1%;
    margin: 3% auto;
    width: 80%;
}
.divApp {
    width: 87%;
    margin: 1% auto;
    margin-bottom: 4%;
}
h4 {
    display: inline-block;
    width: 150px;
    margin: 0 3%;
}
mat-form-field {
    display: inline-block;
    width: calc(90%);
    margin-right: 4%;
}
h3 {
    margin-left: -2%;
}
.sideForm {
    width: calc(44%);
    margin-right:2%;
}