<div class='container-background' *ngIf="medico && medico.medico && modSala=='false'">  
    <div class="divApp" id="div_ricetteStatiche">
        <h3> TIPO RICETTE </h3>
        <mat-slide-toggle class="sideForm" (change)='setRicetteStatiche($event)' [checked]='medico.ricetteStatiche'><font *ngIf="medico.ricetteStatiche">Ricette statiche</font><font *ngIf="!medico.ricetteStatiche">Ricette dinamiche</font></mat-slide-toggle>
        <mat-form-field class="sideForm">
            <input (blur)="setOrarioRiconsegnaRicette($event)" matInput placeholder="Orario riconsegna ricette" type="time" [value]="medico.orarioRicette" [disabled]="!medico.ricetteStatiche">
        </mat-form-field>
    </div>
</div>
<div class='orariseDiv container-background' style="padding: 1% 1%" *ngIf="medico && medico.medico && modSala=='false'">
    <app-orari [tipo]="'attivita'"></app-orari>
</div>

