<div style="padding: 1% 1%;" class='container-background' *ngIf="medico && medico.medico && modSala=='false'">  
  <div class="divApp" id="div_AppuntamentiSettings">
      <h3 id="scrittaAppuntamenti"> APPUNTAMENTI  </h3>
      <mat-form-field class="sideForm">
          <input (blur)="setDurataAppuntamenti($event)" matInput placeholder="Durata Appuntamenti" type="number" [value]="medico.durataAppuntamenti">
      </mat-form-field>
  </div>
</div>
<div class='orariseDiv container-background' style="padding: 1% 1%" *ngIf="medico && medico.medico && modSala=='false'">
  <app-orari [tipo]="'appuntamenti'"></app-orari>
</div>
<div class='container-background' style="padding: 1% 1%" *ngIf="medico && medico.medico && modSala=='false' && !calSer.smartList">  
  <app-calendario></app-calendario>
</div>
<app-smart-list-appuntamenti *ngIf="calSer.smartList"></app-smart-list-appuntamenti>