<mat-toolbar role="heading">
    <div *ngIf="dataSer.userData && dataSer.modSala=='false' && dataSer.userData.medico" id="cazzettochesporge">
        <span draggable="false" [routerLink]="['/DrManager']" style="cursor: pointer;" class="notSelectable"
            routerLinkActive="router-link-active"><img draggable="false" class="notSelectable" [src]="logoImg" alt="GinaAssistant"></span>
    </div>
    <div *ngIf="!dataSer.userData || (dataSer.modSala=='false' && dataSer.userData && (!dataSer.userData.medicRef))" id="cazzettochesporge">
        <span draggable="false" [routerLink]="['/checkMe']" style="cursor: pointer;" class="notSelectable"
            routerLinkActive="router-link-active"><img draggable="false" class="notSelectable" [src]="logoImg" alt="GinaAssistant"></span>
    </div>
    <div *ngIf="dataSer.userData && ((dataSer.userData.medico && dataSer.modSala=='true') || ( dataSer.userData.medicRef && !dataSer.userData.medico && dataSer.modSala=='false'))"
        id="cazzettochesporge">
        <span draggable="false" [routerLink]="['/home']" style="cursor: pointer;" class="notSelectable"
            routerLinkActive="router-link-active"><img draggable="false" class="notSelectable" [src]="logoImg" alt="GinaAssistant"></span>
    </div>
    <span class="space_center"></span>
    <!--button mat-button [routerLink]="['/homeUtente']" routerLinkActive="router-link-active" >settings</button-->
    <div *ngIf="dataSer.userData && dataSer.modSala == 'false'">
        <div *ngIf="!navSelect">
            <button mat-button [routerLink]="['/DrManager']" routerLinkActive="router-link-active" *ngIf="dataSer.userData.medico">CODA</button>
            <button mat-button [routerLink]="['/AppuntamentiMng']" routerLinkActive="router-link-active" *ngIf="dataSer.userData.medico">APPUNTAMENTI</button>
            <button mat-button [routerLink]="['/DrSettings']" routerLinkActive="router-link-active" *ngIf="dataSer.userData.medico">SETTINGS</button>
            <button *ngIf="dataSer.modSala=='false' || (!dataSer.userData && dataSer.modSala=='true')" mat-button [routerLink]="['/account']"
                routerLinkActive="router-link-active">
                PROFILO
                <i *ngIf="!dataSer.user.accountCrowd" style="top: -2px;position: relative;" class="material-icons">
                    person
                </i>
                <i *ngIf="dataSer.user.accountCrowd" style="top: -10px;position: relative;" class="material-icons">
                    <img draggable="false" src="../assets/iconagina.gif" alt="GinaProfile">
                </i>
            </button>
        </div>
        <div *ngIf="navSelect">
            <button mat-button [matMenuTriggerFor]="menu">
                <i class="material-icons">
                    menu
                </i>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-button [routerLink]="['/DrManager']" routerLinkActive="router-link-active" *ngIf="dataSer.userData.medico">CODA</button><br>
                <button mat-button [routerLink]="['/AppuntamentiMng']" routerLinkActive="router-link-active" *ngIf="dataSer.userData.medico">APPUNTAMENTI</button><br>
                <button mat-button [routerLink]="['/DrSettings']" routerLinkActive="router-link-active" *ngIf="dataSer.userData.medico">SETTINGS</button><br>
                <button *ngIf="dataSer.modSala=='false' || (!dataSer.userData && dataSer.modSala=='true')" mat-button [routerLink]="['/account']"
                    routerLinkActive="router-link-active">PROFILO
                    <i *ngIf="!dataSer.user.accountCrowd" style="top: -2px;position: relative;" class="material-icons">
                        person
                    </i>
                    <i *ngIf="dataSer.user.accountCrowd" style="top: -10px;position: relative;" class="material-icons">
                        <img draggable="false" src="../assets/iconagina.gif" alt="GinaProfile">
                    </i>
                </button>
            </mat-menu>
        </div>
    </div>
    <button *ngIf="!dataSer.userData || (!dataSer.userData && dataSer.modSala=='true')" mat-button [routerLink]="['/account']"
        routerLinkActive="router-link-active">
        PROFILO
        <i style="top: -2px;position: relative;" class="material-icons">
            person
        </i>
    </button>
</mat-toolbar>
<canvas id="background"></canvas>
<div [@routeAnimations]="prepareRoute(outlet)" >
    <router-outlet #outlet="outlet"></router-outlet>
</div>