.space_center {
    flex: 1 1 auto;
}
.router-link-active {
    font-weight: 700;
}
mat-toolbar {
    margin: 1% 2%;
    width: 96%;
    background-color: #F5F5F5 !important;
    box-shadow: 0 5px 6px 5px rgba(0,0,0,.06);
    padding-left:0px !important;
    border-bottom-right-radius: 13px;
}
#cazzettochesporge {
    background-color: #F5F5F5 !important;
    margin-top:0%;
    margin-left: 0;
    padding-left: 26px;
    width:250px;
    height: 64px;
}
.notSelectable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    border: 0;
    outline : none;
    margin-top: 14px;
}
img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    border: 0;
    outline : none;
    height: 43px;
    width: 92,42px
}