<h2>Appuntamento</h2>
<div >
    <font *ngIf="data.data.confermato == 'false'" style="font-size: 18px;display: inline-block">Richiesta appuntamento da: </font>
    <font *ngIf="data.data.confermato == 'true'" style="font-size: 18px;display: inline-block">Prenotazione presa con: </font>
    <b *ngIf="!data.data.fromMedico" style="font-size: 18px; float: right">{{data.data.nominativo}}</b> 
    <mat-form-field *ngIf="data.data.fromMedico" style="font-size: 18px; float: right;margin-bottom: -50px;top: -30px;">
        <input (blur)="updateNominativo('app'+data.data.userRef.id, $event.target.value)" matInput type="text" [value]="data.data.nominativo">
    </mat-form-field>
</div>
<div style="margin-top: 2.5%">
    <font style=" font-size: 18px;display: inline-block">per il: </font>
    <b style="font-size: 18px; float: right">{{data.data.inizio.seconds * 1000 | date: 'dd/MM/yyyy  hh:mm'}}</b>
</div>
<div style="margin-top: 2.5%">
    <font style=" font-size: 17px;display: inline-block">
        Informazioni:
    </font>
    <i *ngIf="!data.data.fromMedico"> {{data.data.messaggio}}</i>
    <mat-form-field *ngIf="data.data.fromMedico" style="font-size: 18px; float: right;top: -24px;margin-bottom:-50px; width: 70%">
        <input (blur)="updateInfo('app'+data.data.userRef.id, $event.target.value)" matInput type="text" [value]="data.data.messaggio">
    </mat-form-field>
</div>
<div style="margin-top: 2.5%" *ngIf="data.data.confermato == 'false'">
        <button (click)="deleteEvento('app'+data.data.userRef.id, data.index)" style="float: right;margin:1% 1%; cursor: pointer" mat-flat-button color="warn">
                RIFIUTA <i class="material-icons">
                        delete
                    </i>
        </button>
        <button (click)="confermaEvento('app'+data.data.userRef.id, data.index)" style="float: right;margin:1% 1%; cursor: pointer" mat-flat-button color="primary">
            CONFERMA <i  class="material-icons"  >
                        done
                    </i>
        </button>
</div>
<div style="margin-top: 2.5%" *ngIf="data.data.confermato == 'true'">
        <button (click)="deleteEvento('app'+data.data.userRef.id, data.index)" style="float: right;margin:1% 1%; cursor: pointer" mat-flat-button color="warn">
                ELIMINA <i class="material-icons">
                        delete
                    </i>
        </button>
</div>
