#selettoreDate :nth-child(1) {
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
}
#selettoreDate :nth-child(2) {
    border-radius: 0px !important;
}
#selettoreDate :nth-child(3) {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}
.cal-event {
    padding: 0px 0px !important;
    width: 100% !important;
}
#selettoreDate {
    margin-bottom: 1%;
    display:inline-block;
}