<div *ngIf="calSer.orari && calSer.orariAppuntamenti && calSer.events">
    <div>
        <div id="selettoreDate">
            <button mat-flat-button color="primary" (click)="changeViewDate('back')">
                <i class="material-icons">
                    navigate_before
                </i>
            </button>
            <button mat-stroked-button color="basic" (click)="changeViewDate('today')">Oggi</button>
            <button mat-flat-button color="primary" (click)="changeViewDate('forward')">
                <i class="material-icons">
                    navigate_next
                </i>
            </button>
        </div>
        <div style="float:right;">
            <button mat-raised-button color="accent" (click)="calSer.smartList = !calSer.smartList">Smart View</button>
        </div>
    </div>
    <div class=''>
        <mwl-calendar-week-view id="calendarioAppuntamenti"
            [viewDate]="calSer.viewDate"
            [events]="calSer.events"
            [refresh]="calSer.refresh"
            [dayStartHour]="calcolaInizioCal()"
            [dayEndHour]="calcolaFineCal()"
            [excludeDays]="[0]"
            [hourSegmentTemplate]="weekViewHourSegmentTemplate"
            (eventClicked)="handleEvent('Clicked', $event.event)"
            (eventTimesChanged)="eventTimesChanged($event)">
        </mwl-calendar-week-view>
        <ng-template
            #weekViewHourSegmentTemplate
            let-segment="segment"
            let-locale="locale"
            let-segmentHeight="segmentHeight"
            let-isTimeLabel="isTimeLabel">
            <div
                #segmentElement
                class="cal-hour-segment"
                [style.height.px]="segmentHeight"
                [class.cal-hour-start]="segment.isStart"
                [class.cal-after-hour-start]="!segment.isStart"
                [ngClass]="segment.cssClass"
                (click)="startClickToCreate(segment, $event, segmentElement)"
            >
                <div class="cal-time" *ngIf="isTimeLabel">
                    {{ segment.date | calendarDate:'weekViewHour':locale }}
                </div>
            </div>
        </ng-template>
    </div>    
</div>
