<div class="container-background">
  <form [formGroup]="signUpForm" (ngSubmit)="signUp()" class="">
    <mat-form-field>
          <mat-label>{{labelTitle}}</mat-label>
          <input (blur)="updateValidators()" matInput id="emailPhone" class="form-control" placeholder="" formControlName="emailPhone" [attr.disabled]="windowRef.confirmationResult" required>
          <mat-icon matSuffix >{{icon}}</mat-icon>
          <mat-error *ngIf="emailPhone.invalid">
            <div *ngIf="emailPhone.errors.pattern">
                Inserire un numero di telefono valido (Es. +39 3124567890)
            </div>
            <div *ngIf="emailPhone.errors.required">
                Insertire una mail o un numero di telefono
            </div>
            <div *ngIf="emailPhone.errors.email">
                Inserire una mail valida
            </div>
          </mat-error>
    </mat-form-field>
    <br />
    <br />
    <div id="div_passwords" [hidden]="captchaShow">
        <mat-form-field >
            <mat-label>Password *</mat-label>
            <input matInput id="password" class="form-control" placeholder="Password" [type]=" !hide ? 'password' : 'text'" formControlName="password" >
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
            <mat-error *ngIf="password.invalid">
                <div *ngIf="password.errors.minlength">La password deve esser lunga almeno 6 caratteri</div>
                <div *ngIf="password.errors.maxlength">La password deve esser lunga massimo 30 caratteri</div>
                <div *ngIf="password.errors.pattern">La password deve contenere lettere e numeri e non può contenere caratteri speciali</div>
            </mat-error>
        </mat-form-field>
        <br />
        <br />
        <mat-form-field>
            <mat-label>Conferma Password *</mat-label>
            <input matInput id="passwordConf" class="form-control" placeholder="Conferma Password" [type]="!hide2 ? 'password' : 'text'" formControlName="passwordConf" >
            <mat-icon matSuffix (click)="hide2 = !hide2">{{hide2 ? 'visibility' : 'visibility_off'}}</mat-icon>
        </mat-form-field>
        <mat-error *ngIf="signUpForm.errors?.comparePasswords && password.valid && passwordConf.dirty" style="font-size: 75%;padding-left:15%;margin-top:-1.7em;margin-bottom:-1.7em"> <!-- I CONTROLLI AL FORM SI DEVONO FARE FUORI DAI <mat-form-field> -->
            Le password non coincidono
        </mat-error>
        <br />
    </div>
    <!--mat-form-field>
        <mat-label>Codice Fiscale</mat-label>
        <input matInput id="codFis" class="form-control" placeholder="" formControlName="codFis" (blur)="tooltipCodFis.show()" style="text-transform:uppercase">
        <button class="iconButton" matSuffix mat-icon-button matTooltip="Il codice fiscale è necessario al tuo medico per effettuare tutte le operazioni per soddisfare le tue richieste" #tooltipCodFis="matTooltip" [matTooltipPosition]="tooltipPosition"><mat-icon>info</mat-icon></button>
        <mat-hint>Il codice fiscale è necessario per usufruire del servizio</mat-hint>
        <mat-error *ngIf="codFis.invalid">
            Codice Fiscale non corretto
        </mat-error>
    </mat-form-field-->
    <br />
    <div *ngIf="authSer.emailGiaPresa" style="text-align: center; color: red;">
        Esiste già un account con questa mail associata
    </div>
    <div *ngIf="authSer.qualcosaDiStorto" style="text-align: center; color: red;">
        Qualcosa nell'iscrizione è andato storto
    </div>
    <div *ngIf="authSer.codiceIncorretto" style="text-align: center; color: red;">
        Il codice inserito non è corretto
    </div>
    <button class="submit" *ngIf="!captchaShow" mat-raised-button type="submit" [disabled]="!signUpForm.valid"><b>ISCRIVITI</b></button>
  </form>
  <br />
  <div  [hidden]="!captchaShow" class="phoneDiv">
    <div [hidden]="windowRef.confirmationResult" id="recaptcha-container"></div><br />
    <button [disabled]="windowRef.confirmationResult" class="phoneBtn" mat-raised-button (click)="phoneSendLoginCode()">Manda SMS con codice verifica <div *ngIf="windowRef.confirmationResult">Messaggio Inviato</div></button>
    <br />
    <br />
    <div *ngIf="windowRef.confirmationResult">
        <mat-form-field appearance="fill" style="margin-top: 2%;"> <!-- ALTERNATIVE "outline" "standard"    chiedi feedback matteo -->
            <mat-label>Inserisci il codice di verifica</mat-label>
            <input matInput type="text" name="code" [(ngModel)]="verificationCode">
        </mat-form-field>
        <button mat-raised-button class="phoneBtn" (click)="signUp()"><b>VERIFICA E ISCRIVITI</b></button>
    </div>
    <br *ngIf="windowRef.confirmationResult" />
 </div>
 <div id="customBtn" (click)="googleLogin()" class="customGPlusSignInAddave">
    <div class="racchiuditoredispanSign">
        <span class="icon"></span>
        <span class="buttonText">Google SignUp</span>
    </div>
 </div>
</div>