.containerInfoSala {
  display: flex;
}
.descr {
  font-size: 17px;
}
.divNum {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-size: 30px;
}
.divNumeroAttuale {
  height: 200px;
  display: inline-block;
  width: 30%;
  margin-left: 3%;
}
.divNumAtt {
  font-size: 37px;
}
.numAttesaAttuale {
  border-radius: 100%;
  width: 90px;
  height: 90px;
  background-color: #3f51b5;
  color: white;
  margin: 0 auto;
  margin-top: calc((177px - 90px) / 2);
  text-align: center;
}
.numAttesaAttualeSala {
  border-radius: 100%;
  width: 90px;
  height: 90px;
  background-color: #3f51b5;
  color: white;
  margin: 0 auto;
  margin-top: calc((177px - 90px) / 2);
  text-align: center;
}
.divNumeroAttualeSala {
  height: 200px;
  display: inline-block;
  width: 46%;
  margin-left: 3%;
}
.inline {
  display: inline-block;
}
.divNumDiff {
  position: relative;
  top: 50%;
  -ms-transform: translateY(25%);
  -webkit-transform: translateY(25%);
  transform: translateY(25%);
  font-size: 30px;
}
.divPipe {
  position: relative;
  top: 50%;
  -ms-transform: translateY(-55%);
  -webkit-transform: translateY(-55%);
  transform: translateY(-55%);
  font-size: 80px;
}
.divMinutiMancanti {
  width: calc(50% - 11px);
}
.divPersoneMancanti {
  width: calc(50% - 11px);
}
.divPrimaDiTe {
  height: 200px;
  display:inline-block;
  width: 30%;
  margin-left: 3%;
}
.divPrimaDiTeSala {
  height: 200px;
  display:inline-block;
  width: 46%;
  margin-left: 3%;
}
.primaDiTe {
  width: 200px;
  height: 100px;
  background-color: #3f51b5;
  color: white;
  margin: 0 auto;
  margin-top: calc((177px - 100px) / 2);
  text-align: center;
  border-radius: 7px;
}
.primaDiTeSala {
  width: 200px;
  height: 100px;
  background-color: #3f51b5;
  color: white;
  margin: 0 auto;
  margin-top: calc((177px - 100px) / 2);
  text-align: center;
  border-radius: 7px;
}
.divTuoNumero {
  height: 200px;
  display: inline-block;
  width: 30%;
  margin-left: 3%;
}
.divNumBig {
  font-size: 45px;
  text-shadow: 3px 1px rgba(100,100,100,0.36);
}
.containerNumAttuale {
  height: 130px;
  display: flex;
  margin-top: calc((177px - 130px) / 2);
}
.tuoNumero {
  display: inline-block;
  border-radius: 100%;
  width: 130px;
  height: 130px;
  background-color: #87B7FF;
  color: white;
  box-shadow:6px 1px 1px rgba(100,100,100,0.36);
  margin: 0 auto;
  margin-top: calc((130px - 130px) / 2);
  text-align: center;
}
.caporale {
  display: inline-block;
  margin-top: calc((130px - 76px) / 2);
}
.caporaleText {
  font-size: 70px;
  color: #87B7FF;
}
.openclose {
  height: 100px;
  width: 100px;
  position: absolute;
  left: calc(50% - 50px);
}
.actionBtn {
  font-size: 19px;
  margin: 2% 10%;
  width: 80%;
  height: 62px;
  border-radius: 10px;
}
.container-background {
  padding: 2% 0%;
  margin: 3% auto;
  width: 50%;
}
.spinner {
  margin: 3% auto;
}
p {
  text-align: center;
}
@media (max-width: 500px) {
  .visiteBtn {
    margin-top: 6% !important;
  }
  .appuntamentiBtn {
    margin-bottom: 6% !important;
  }
  .divNumDiff {
    transform: translateY(-35%);
    font-size: 25px;
  }
  .divPipe {
    transform: translateY(-55%);
    font-size: 80px;
  }
  .numAttesaAttuale {
    margin-left: 6px;
    width: 60px;
    height: 60px;
  }
  .primaDiTe {
    margin-left: -16px;
    width: 130px;
    height: 65px;
  }
  .Ppersone {
    font-size: 12px;
    transform: translateY(-135%);
  }
  .Pminuti {
    font-size: 12px;
    transform: translateY(-135%);
  }
  .divNumAtt {
    font-size: 28px;
  }
  .caporaleText {
    display: none;
  }
  .tuoNumero {
    margin-left: 30px;
    width: 75px;
    height: 75px;
    transform: translateY(-5px);
  }
  .divTuoNumero {
    height: 200px;
    display: inline-grid;
  }
  .descr {
    font-size: 15px;
    height: 45px;
  }
  .primaDiTeSala {
    width: 130px;
    height: 65px;
    background-color: #3f51b5;
    color: white;
    margin: 0 auto;
    margin-top: calc((177px - 100px) / 2);
    text-align: center;
    border-radius: 7px;
  }
  .numAttesaAttualeSala {
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background-color: #3f51b5;
    color: white;
    margin: 0 auto;
    margin-top: calc((177px - 90px) / 2);
    text-align: center;
    transform: translateY(-5px);
  }
}