<div class="container-background" *ngIf="medico && currentUser">
    <img class="openclose" [src]="dataSer.sedeOpen ? '../assets/open.png' : '../assets/close.png'">
    <br>
    <br>
    <br>
    <br>
    <div>
        <div *ngIf="dataSer.modSala=='false'">
            <div *ngIf="medico.ricetteStatiche">
                <div class="containerInfoSala" *ngIf="codiceAttesaAttutale != codiceAttesaMiaPrenotazione">
                    <div class="divNumeroAttuale">
                        <p class="descr">TURNO DEL NUMERO :</p>
                        <div class="numAttesaAttuale"><div class="divNumAtt divNum">{{codiceAttesaAttutale}}</div></div>
                    </div>
                    <div class="divPrimaDiTe">
                        <p class="descr">PRIMA DI TE :</p>
                        <div class="primaDiTe">
                            <div class="inline divPersoneMancanti">
                                <div class="divNumDiff">{{numVisite}}</div>
                                <p class="Ppersone">&nbsp;PERSONE</p>
                            </div>
                            <div class="inline divPipe">|</div>
                            <div class="inline divMinutiMancanti">
                                <div class="divNumDiff">{{numVisite * 10}}'</div>
                                <p class="Pminuti">MINUTI</p>
                            </div>
                        </div>
                    </div>
                    <div class="divTuoNumero" *ngIf="numMiePrenotazioni > 0">
                        <p class="descr">IL TUO NUMERO :</p>
                        <div class="tuoNumero"><div class="divNumBig divNum">{{codiceAttesaMiaPrenotazione}}</div></div>
                    </div>
                </div>
                <div *ngIf="codiceAttesaAttutale == codiceAttesaMiaPrenotazione">
                    <p>è il tuo turno</p>
                </div>
            </div>
            <div *ngIf="!medico.ricetteStatiche">
                <div class="containerInfoSala" *ngIf="codiceAttesaAttutale != codiceAttesaMiaPrenotazione">
                    <div class="divNumeroAttuale">
                        <p class="descr">TURNO DEL NUMERO :</p>
                        <div class="numAttesaAttuale"><div class="divNum divNumAtt">{{codiceAttesaAttutale}}</div></div>
                    </div>
                    <div class="divPrimaDiTe">
                        <p class="descr">PRIMA DI TE :</p>
                        <div class="primaDiTe">
                            <div class="inline divPersoneMancanti">
                                <div class="divNumDiff">{{numVisite + numRicette}}</div>
                                <p class="Ppersone">&nbsp;PERSONE</p>
                            </div>
                            <div class="inline divPipe">|</div>
                            <div class="inline divMinutiMancanti">
                                <div class="divNumDiff">{{(numVisite * 10) + (numRicette * 2)}}'</div>
                                <p class="Pminuti">MINUTI</p>
                            </div>
                        </div>
                    </div>
                    <div class="divTuoNumero" *ngIf="numMiePrenotazioni > 0">
                        <p class="descr">IL TUO NUMERO :</p>
                        <div class="containerNumAttuale">
                            <div class="caporale"><i class="material-icons caporaleText">chevron_right</i></div>
                            <div class="tuoNumero"><div class="divNumBig divNum">{{codiceAttesaMiaPrenotazione}}</div></div>
                        </div>
                    </div>
                </div>
                <div *ngIf="codiceAttesaAttutale == codiceAttesaMiaPrenotazione">
                    <p>è il tuo turno</p>
                </div>
            </div>
        </div>
        <div *ngIf="dataSer.modSala=='true'">
            <div *ngIf="medico.ricetteStatiche">
                <div class="divNumeroAttualeSala">
                    <p class="descr">TURNO DEL NUMERO :</p>
                    <div class="numAttesaAttualeSala"><div class="divNum divNumAtt">{{codiceAttesaAttutale}}</div></div>
                </div>
                <div class="divPrimaDiTeSala" class="containerInfoSala">
                    <p class="descr">IN CODA :</p>
                    <div class="primaDiTeSala">
                        <div class="inline divPersoneMancanti">
                            <div class="divNumDiff">{{numVisite}}</div>
                            <p class="Ppersone">&nbsp;PERSONE</p>
                        </div>
                        <div class="inline divPipe">|</div>
                        <div class="inline divMinutiMancanti">
                            <div class="divNumDiff">{{numVisite * 10}}'</div>
                            <p class="Pminuti">MINUTI</p>
                        </div>
                    </div>
                </div>
            </div>
            <div *ngIf="!medico.ricetteStatiche" class="containerInfoSala">
                <div class="divNumeroAttualeSala">
                    <p class="descr">TURNO DEL NUMERO :</p>
                    <div class="numAttesaAttualeSala"><div class="divNum divNumAtt">{{codiceAttesaAttutale}}</div></div>
                </div>
                <div class="divPrimaDiTeSala">
                    <p class="descr">IN CODA :</p>
                    <div class="primaDiTeSala">
                        <div class="inline divPersoneMancanti">
                            <div class="divNumDiff">{{numVisite + numRicette}}</div>
                            <p class="Ppersone">&nbsp;PERSONE</p>
                        </div>
                        <div class="inline divPipe">|</div>
                        <div class="inline divMinutiMancanti">
                            <div class="divNumDiff">{{(numVisite * 10) + (numRicette * 2)}}'</div>
                            <p class="Pminuti">MINUTI</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-background" *ngIf="medico && currentUser">
    <div>
        <button class="visiteBtn actionBtn" [disabled]="!dataSer.sedeOpen || numMiePrenotazioni > 0" mat-raised-button color="primary" [routerLink]="['/home/visita']" routerLinkActive="router-link-active">VISITA</button>
        <div *ngIf="(!medico.ricetteStatiche && dataSer.modSala=='true') || dataSer.modSala=='false'">
            <br>
            <button class="actionBtn" [disabled]="!dataSer.sedeOpen || numMiePrenotazioni > 0" mat-raised-button color="primary" [routerLink]="['/home/ricetta']" routerLinkActive="router-link-active">RICETTA</button>
        </div>
        <div *ngIf="dataSer.modSala=='false'">
            <br>
            <button class="appuntamentiBtn actionBtn" mat-raised-button color="primary" [routerLink]="['/home/appuntamento']" routerLinkActive="router-link-active">APPUNTAMENTO</button>
        </div>
        <!--button mat-raised-button class="phoneBtn" (click)="verificaEmail()">Verifica email</button-->
    </div>
</div>
<!--[disabled]="numMiePrenotazioni > 0"-->
