.divNumBig {
    font-size: 45px;
    text-shadow: 3px 1px rgba(100,100,100,0.36);
}
.divNum {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.containerNumAttuale {
    height: 70px;
    display: inline-block;
    
}
.divNumAttesa {
    position: relative;
    text-align: center;
}
.tuoNumero {
    display: inline-block;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background-color: #87B7FF;
    color: white;
    box-shadow:6px 1px 1px rgba(100,100,100,0.36);
    text-align: center;
}
.container-background {
    padding: 1% 0%;
    margin: 3% auto;
    width: 60%;
}
.nascondiWebcam {
    width: 648px;
    height: 465px;
    position: absolute;
    z-index: 9990;
    background-color: white;
    opacity: 0.95;
    left: 50%;
    transform: translate(-50%, 0);
    margin-top: -4px;
}
.nascondiWebcamAfter {
    position: absolute;
    z-index: 9990;
    background-color: white;
    opacity: 0.95;
    left: 50%;
    transform: translate(-50%, 0);
}
input[type="file"] {
    display: none;
}
#imgShow {
    width: 82%;
    margin: 1% 9%;
    height: auto;
}
#annullaImg {
    width: 82%;
    margin: 1% 9%;
}
.center-text {
    text-align: center;
    font-size: 19px;
}
.invisible-photo-click {
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0);
    position:fixed;
    top:0;
    left:0;
}
.invisible-photo-click-little {
    width: 100%;
    height: 500px;
    z-index: 9999;
    background-color: rgba(0, 0, 0, 0);
    position:relative;
}
.custom-file-upload {
    border: 0px solid #ccc;
    display: inline-block;
    cursor: pointer;
}
.div-webcam {
    margin: 1% auto;
    width: 100%;
    align-items: center
}
button {
    margin: 0 3%;
    width: calc(100% - 6%);
    height: 50px;
    display: inline-block;
}
h3 {
    margin-left: 6%;
}
h4 {
    display: inline-block;
    width: 150px;
    margin: 0 3%;
}
.divApp {
    width: 87%;
    margin: 1% auto;
}
.nominativoForm {
    width: calc(44% - 75px);
    margin-right:2%;
}
.indicazioni {
    display: inline-block;
    width: calc(90% - 150px);
    margin-right: 4%;
}
p {
    margin-left:3%;
}
.gestioneFoto {
    width: 100px;
    height: 100px;
    border: 2px solid gray;
    border-radius: 10px;
    display: inline-block;
    margin: 0 1%;
    float:center;
    cursor: pointer;
}
.iconafoto {
    font-size: 70px;
    margin: 15px 15px;
    top:20px;
}
#avvisoRicetteRipetibili {
    margin-left: 0;
}
#webcam {
    margin-left: calc(50% - 320px);
}
@media (max-width: 500px) {
    #webcam {
        margin-left: calc(50% - 147.5px);
    }
    .nascondiWebcam {
        width: 298px;
        height: 484px;
        position: absolute;
        z-index: 9990;
        background-color: white;
        opacity: 0.95;
        left: 50%;
        transform: translate(-50%, 0);
        margin-top: -2px;
    }
    .tuoNumero {
        width: 50px;
        height: 50px;
    }
    .divNumBig {
        font-size: 35px;
    }
    h2 {
        font-size: 18px !important;
    }
}