<div (click)="triggerSnapshot();" class="invisible-photo-click" *ngIf="!webcamImage && dataSer.modSala=='true' && user && user.codFis"></div>
<div class="container-background" *ngIf="medico && !dataSer.sedeOpen && medico.ricetteStatiche || medico && dataSer.sedeOpen">
    <h3>PRENOTAZIONE RICETTA</h3>
    <!--div class="divApp">
        <h4 > Indicazioni: </h4>
        <mat-form-field class="indicazioni">
                <input matInput [(ngModel)]="nomeMed" placeholder="Nome medicinale">
            <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
    </div-->
    <div *ngIf="dataSer.modSala == 'true' || !user.codFis || arrivaCodFisNullo" class="divApp">
        <h4 > Codice Fiscale: </h4>
        <mat-form-field class="indicazioni">
            <input autofocus matInput style="text-transform: uppercase" type="text" maxlength="16" minlength="16" [placeholder]="dataSer.modSala == 'true' ? 'Scannerizza la tessera sanitaria' : ''" (input)="updateCodFis($event)">
            <mat-icon matSuffix>{{iconCodFis}}</mat-icon>
        </mat-form-field>
    </div>
    <div class="divApp" *ngIf="dataSer.modSala=='false' && nominativoArrivaNullo">
        <h4 > Nominativo: </h4>
        <mat-form-field class="nominativoForm">
            <input matInput type="text" placeholder="Nome" [(ngModel)]="user.nome">
        </mat-form-field>
        <mat-form-field class="nominativoForm">
            <input matInput type="text" placeholder="Cognome" [(ngModel)]="user.cognome">
        </mat-form-field>
    </div>
    <div *ngIf="dataSer.modSala == 'false' && !apriWebCam" class="divApp">
        <h4 style="margin-bottom:30px"> Foto medicinale: </h4>
        <!--div *ngIf="canUpload">{{selectedFiles[0].name}}</div-->
        <div style="margin-left: 15%" class="gestioneFoto">
            <label for="file-upload" class="custom-file-upload">
                <i class="material-icons iconafoto">
                    attach_file
                </i>
            </label>
            <input id="file-upload" type="file" (change)="detectFiles($event)"/>
        </div>
        <div class="gestioneFoto" (click)="apriWebcam()">
            <i class="material-icons iconafoto">
                photo_camera
            </i>
        </div>
    </div>
    <div class="div-webcam" *ngIf="(apriWebCam && !webcamImage) || (!webcamImage && dataSer.modSala=='true' && user.codFis)">
        <p class="center-text" *ngIf="dataSer.modSala == 'true'"><b><u>Clicca sullo schermo per scattare la foto al Medicinale</u></b></p>
        <p class="center-text" *ngIf="dataSer.modSala == 'false'"><b><u>Clicca sull' immagine per scattare la foto al Medicinale</u></b></p>
        <div class="nascondiWebcam" *ngIf="dataSer.modSala == 'true'">
            <p class="center-text">L' immagine è offuscata per tutelare la tua privacy</p>
        </div>
        <webcam id="webcam" [videoOptions]="videoOptions" (initError)="handleInitError($event)" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" (click)="triggerSnapshot();"></webcam>
    </div>
    <!--progress [value]="percentuale | async"></progress-->
    <div class="div-webcam" *ngIf="webcamImage">
        <div class="nascondiWebcamAfter" *ngIf="dataSer.modSala == 'true'" [style.width]="imgShowW" [style.height]="imgShowH" [style.margin-top]="imgShowMT">
            <p class="center-text">L' immagine è offuscata per tutelare la tua privacy</p>
        </div>
        <img id="imgShow" [src]="webcamImage.imageAsDataUrl"/>
        <button id="annullaImg" mat-raised-button color="warn" (click)="annullaImageCapture()">ANNULLA</button>
    </div>
    <div class="divApp">
        <h4 > Indicazioni: </h4>
        <mat-form-field class="indicazioni">
                <input matInput [(ngModel)]="nomeMed" placeholder="Indicazioni aggiuntive / quantità">
            <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
    </div>
    <div class="divApp">
        <h3 id="avvisoRicetteRipetibili" style="text-align: center">&Egrave; permesso richiedere solo farmaci gia prescritti</h3>
    </div>
    <div class="divApp divNumAttesa" *ngIf="!medico.ricetteStatiche">
        <h2 style="display:inline-block"><u>NUMERO DI ATTESA :</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
        <div class="containerNumAttuale">
            <div class="tuoNumero"><div class="divNumBig divNum">{{codiceAttesaMassimo}}</div></div>
        </div>
    </div>
    <div class="divApp" *ngIf="medico.ricetteStatiche">
        <p class="center-text">
            <u>Le ricette saranno consegnate alle <b>{{medico.orarioRicette}}</b> <font *ngIf="ricettePerDomani"> del prossimo giorno lavorativo</font></u>
        </p>
    </div>
    <div class="divApp" *ngIf="!medico.ricetteStatiche">
        <p class="center-text">
            <u>Le ricette passano prima. Sarai chiamato tra massimo <b>15 minuti</b></u>
        </p>
    </div>
    <div class="divApp">
        <button mat-raised-button color="primary" [disabled]="!selectedFiles && !webcamImage || !user.codFis" (click)="aggiungiRicetta(nomeMed)">PRENOTA</button>
    </div>
</div>