<div id="appuntamentiPicker" class="container-background" *ngIf="medico">
    <h3> PRENOTA APPUNTAMENTO </h3>
    <div class="divApp">
        <h4 > Scegli una data: </h4>
        <mat-form-field class="mat-field-smartphone" >
            <input (dateChange)="setDataAppuntamento($event)" [min]="oggi" (focus)="picker.open()" (click)="picker.open()" matInput [matDatepicker]="picker" placeholder="">
            <mat-icon matSuffix>date_range</mat-icon>
            <mat-datepicker touchUi #picker></mat-datepicker>
        </mat-form-field>
    </div>
    <div class="divApp">
        <h4 > Scegli un orario: </h4>
        <mat-form-field class="mat-field-smartphone">
            <input [disabled]="calSer.disattivaPicker" (customPickerchange)="setOrarioAppuntamento($event)" matInput id="time-2"  type="text">
            <mat-icon matSuffix>access_time</mat-icon>
        </mat-form-field>
    </div>
    <div class="divApp" *ngIf="nominativoArrivaNullo">
        <h4 > Nominativo: </h4>
        <mat-form-field class="nominativoForm">
            <input matInput type="text" placeholder="Nome" [(ngModel)]="user.nome" [value]="user.nome">
        </mat-form-field>
        <mat-form-field class="nominativoForm">
            <input matInput type="text" placeholder="Cognome" [(ngModel)]="user.cognome" [value]="user.cognome">
        </mat-form-field>
    </div>
    <div class="divApp">
        <h4 > Messaggio: </h4>
        <mat-form-field class="mat-field-smartphone">
            <input matInput type="text" placeholder="Motivazione" [(ngModel)]="messaggio" >
        </mat-form-field>
    </div>
    <div class="divApp">
        <button (click)="prenotaAppuntamento();" id="prenotaBtn" [disabled]="user.nome.length > 2 && user.cognome.length > 3 && puoiprenota" mat-raised-button color="primary" [disabled]="calSer.prenotaDisabled">PRENOTA</button>
    </div>
</div>