<div class="container-background" *ngIf="medico && dataSer.sedeOpen">
    <h3>PRENOTAZIONE VISITA</h3>
    <div class="divApp" *ngIf="dataSer.modSala == 'false'">
        <h4 > Breve Motivazione: </h4>
        <mat-form-field class="motivazione" >
            <input [(ngModel)]="motivazione" matInput type="text">
            <mat-icon matSuffix>edit</mat-icon>
        </mat-form-field>
    </div>
    <div class="divApp" *ngIf="nominativoArrivaNullo && dataSer.modSala == 'false'">
        <h4 > Nominativo: </h4>
        <mat-form-field class="nominativoForm">
            <input matInput type="text" placeholder="Nome" [(ngModel)]="user.nome" [value]="user.nome">
        </mat-form-field>
        <mat-form-field class="nominativoForm">
            <input matInput type="text" placeholder="Cognome" [(ngModel)]="user.cognome" [value]="user.cognome">
        </mat-form-field>
    </div>
    <div class="divApp divNumAttesa">
        <h2 style="display:inline-block"><u>NUMERO DI ATTESA :</u>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</h2>
        <div class="containerNumAttuale">
            <div class="tuoNumero"><div class="divNumBig divNum">{{codiceAttesaMassimo}}</div></div>
        </div>
    </div>
    <div class="divApp">
        <button mat-raised-button color="primary" (click)="aggiungiVisita(motivazione)">PRENOTA</button>
    </div>
</div>
