.divNumBig {
    font-size: 45px;
    text-shadow: 3px 1px rgba(100,100,100,0.36);
}
.divNum {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
.containerNumAttuale {
    height: 70px;
    display: inline-block;
    
}
.divNumAttesa {
    position: relative;
    text-align: center;
}
.tuoNumero {
    display: inline-block;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    background-color: #87B7FF;
    color: white;
    box-shadow:6px 1px 1px rgba(100,100,100,0.36);
    text-align: center;
}
.container-background {
    padding: 1% 0%;
    margin: 3% auto;
    width: 60%;
}
button {
    margin: 0 3%;
    width: calc(100% - 6%);
    height: 50px;
    display: inline-block;
}
h3 {
    margin-left: 6%;
}
h4 {
    display: inline-block;
    width: 150px;
    margin: 0 3%;
}
.divApp {
    width: 87%;
    margin: 1% auto;
}
.nominativoForm {
    width: calc(44% - 75px);
    margin-right:2%;
}
.motivazione {
    display: inline-block;
    width: calc(90% - 150px);
    margin-right: 4%;
}

@media (max-width: 500px) {
    .tuoNumero {
        width: 50px;
        height: 50px;
    }
    .divNumBig {
        font-size: 35px;
    }
    h2 {
        font-size: 18px !important;
    }
}