/* You can add global styles to this file, and also import other style files */
@import "../node_modules/angular-calendar/css/angular-calendar.css";
html, body { height: 100%; padding:0; margin:0; }
body { margin: 0; font-family: 'Nunito', sans-serif; }
main {position: relative}
img {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
    border: 0;
    outline : none;
    height: 43px;
    width: 92,42px
}
.container-background {
    background-color: rgba(245,245,245,.65);
    border-radius: 15px;
    box-shadow: 0 3px 6px 3px rgba(0,0,0,.08);
}
#background {
    width:100%;
    height:100%;
    position: fixed;
    top:0;
    left:0;
    z-index:-1;
    background-color: #E3FFFF;
}
@media (max-width: 1050px) {
    .container-background {
        padding: 2% 0% !important;
        margin: 15% auto !important;
        width: 70% !important;
    }
}
@media (max-width: 770px) {
    /*landing page*/
    .gine {
        position: absolute !important;
    }
    .dialogo1{
        font-size: 20px !important;
        display: inline-block !important;
        width: 85% !important;
        padding: 40px 20px !important;
        margin-left: 0 !important;
    }
    .dialogo2{
        font-size: 20px !important;
        display: inline-block !important;
        width: 85% !important;
        padding: 40px 20px !important;
        margin-left: 0 !important;
    }
    .dialogo3{
        font-size: 20px !important;
        display: inline-block !important;
        width: 85% !important;
        padding: 40px 20px !important;
        margin-left: 0 !important;
    }
    /*landing page*/
    .container-background {
        margin: 0% 7% !important;
        margin-top:6% !important;
        width: 86% !important;
        margin-bottom: 2% !important;
        padding-bottom: 2% !important;
    }
    #cazzettochesporge {
        margin-top: 0% !important;
        height: 56px !important;
    }
    .notSelectable {
        height: 42px !important;
        margin-top: 10px !important;
    }
    .pren-container-dyn {
        width: 80% !important;
        margin: 20px 10% !important
    }
    .pren-container-dyn:nth-child(1) {
        width: 90% !important;
        margin: 20px 5% !important
    }
    .pren-container {
        width: 80% !important;
        margin: 20px 10% !important
    }
    .pren-container:nth-child(1) {
        width: 90% !important;
        margin: 20px 5% !important
    }
    .center-text {
        margin-left: -3%;
    }
    .photo {
        width:60% !important;
        margin: 0 20% !important;
    }
    .container {
        margin-top:6% !important;
    }
    .loginMedico {
        margin: 1.5% 10% !important;
    }
    #passaAIscriviti {
        margin-top: 3% !important;
    }
    .icona {
        font-size: 43px !important;
        top: 58px !important;
    }
    .actionBtn {
        margin: 0 10% !important;
    }
    /*homeut*/
    h4 {
        margin-top: 6% !important;
        display: inline-block !important;
        margin-bottom: -5% !important
    }
    .orariseDiv {
        display:none;
    }
    .motivazione {
        display:block !important;
        width: 95% !important;
        margin: 0 5% !important;
    }
    .indicazioni {
        display:block !important;
        width: 95% !important;
        margin: 10px 5% !important;
    }
    .mat-field-smartphone {
        display:block !important;
        width: 95% !important;
        margin: 0 5% !important;
        margin-top: 13px !important;
    }
    h2 {
        font-size: 21px !important;
    }
    #scrittalogOut {
        width:100% !important;
    }
    .appo-picker.is-large {
        left: 0px !important;
    }
}
@media (max-width: 500px) {
    .container-background {
        margin: 0% 7% !important;
        margin-top:12% !important;
        width: 86% !important;
        padding-bottom: 1% !important;
    }
    .submit {
        margin-top:7% !important
    }
    #passaAIscriviti {
        margin: 5.5% auto !important;
    }
    .loginMedico {
        margin: 2.7% 10% !important;
    }
    .customGPlusSignInAddave {
        margin-bottom: 10px !important;
    }
    #logOut {
        top: 7px;
    }
    .icona {
        font-size: 43px !important;
        top: 58px !important;
    }
    .notSelectable {
        height: 42px !important;
        margin-top: 10px !important;
    }
    .actionBtn {
        margin: 2% 10% !important;
    }
    .prenotaBtn {
        margin-bottom: 2% !important;
    }
    #cazzettochesporge {
        background-color: #F5F5F5 !important;
        margin-top:0%;
        margin-left: 0;
        padding-left: 26px;
        height: 56px !important;
        width:130px;
        margin-top: 0% !important;
    }
    mat-toolbar {
        margin: 0% 0% !important;
        width: 100% !important;
        background-color: #F5F5F5 !important;
        box-shadow: 0 4px 6px 4px rgba(0,0,0,.06) !important;
        padding-left:0px !important;
    }
    
    /*homeut*/
    h4 {
        margin-top: 6% !important;
        margin-bottom: 5% !important
    }
    .motivazione {
        display:block !important;
        width: 95% !important;
        margin: 0 5% !important;
    }
    .indicazioni {
        display:block !important;
        width: 95% !important;
        margin: 0 5% !important;
    }
    .mat-field-smartphone {
        display:block !important;
        width: 95% !important;
        margin: 0 5% !important;
    }
    h2 {
        font-size: 21px !important;
    }
    #scrittalogOut {
        width: 65% !important;
        vertical-align: middle !important
    }
}
