<div class='container'>
    <div style="width:100%;display: flex;justify-content: space-between;margin: 0 0;padding: 1% 1%;margin-bottom: 2%;margin-left: -1%;display:block" class="container-background" >
        <button mat-raised-button color="accent"  (click)="calSer.smartList = !calSer.smartList">Calendario</button>
        <div style="float:right;width: 40%;margin-right: 1%; bottom:12px">
            <h4 style="width: 20%;display: inline-block">Ordina per:&nbsp;&nbsp;</h4>
            <mat-form-field  style="width: 60%;display: inline-block">
                <mat-select placeholder="Valore per riordine" (selectionChange)="riordinaEventi($event.value)">
                    <mat-option *ngFor="let item of orderList" [value]="item.value">
                        {{item.viewValue}}
                    </mat-option>
                </mat-select>
            </mat-form-field>    
        </div>
        
    </div>
    <div *ngIf="medico && medico.medico && modSala=='false'">
        <mat-accordion *ngFor="let item of calSer.eventi" class="container-expander">
            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title style="width:50%">
                        <i class="material-icons" style="top: 12px;position:relative">
                            {{item.confermato == 'true' ? 'assignment_turned_in' : 'event_busy'}}&nbsp;&nbsp;
                        </i>
                        <p>{{item.nominativo}}</p>
                    </mat-panel-title>
                    <mat-panel-description>
                        <p>{{item.inizio.seconds*1000 | date:'EEEE dd/MM/yyyy  HH:mm'}}</p>
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <div style="width:100%;display: flex;justify-content: space-between;">
                    <font style="width:75%; vertical-align: middle;display: inline-block;"><i>{{item.messaggio}}</i></font>
                    <button *ngIf="item.confermato == 'false'" (click)="calSer.confermaEvento('app'+item.userRef.id, null)" style="text-align: right;margin:0% 1%; cursor: pointer" mat-flat-button color="primary">
                        CONFERMA <i  class="material-icons"  >
                                    done
                                </i>
                    </button>
                    <button (click)="calSer.deleteEvento('app'+item.userRef.id, null)" style="text-align: right;margin:0% 1%; cursor: pointer" mat-flat-button color="warn">
                        ELIMINA <i class="material-icons">
                                delete
                            </i>
                    </button>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>
</div>
