body {
    overflow-y: hidden;
}
.container {
    margin-top: 60px;
}
.container-backgroundL {
    width: 80%;
    height: 300px;
    margin-top: 45px;
    background-color: rgba(245,245,245,.65);
    box-shadow: 0 3px 6px 3px rgba(0,0,0,.08);
}
.fromR {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-top-left-radius: 150px;
    border-bottom-left-radius: 150px;
    margin-left: 100%;
}
.fromL {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 150px;
    border-bottom-right-radius: 150px;
    margin-left: -80%
}
.gine {
}
.ginaCiao {
    width: calc(162px);
    height: calc(309px);
    margin-right: 30px;
    display: inline-block;
    float: right;
    opacity: 0;
}
.ginaCartella {
    width: calc(197px);
    height: calc(315px);
    display: inline-block;
    float: left;
    opacity: 0;
}
.ginaPaziente {
    width: calc(400px);
    height: calc(337px);
    display: inline-block;
    position: absolute;
    float: right;
    opacity: 0;
}
.dialogo1 {
    font-size: 25px;
    display: inline-block;
    width: 55%;
    padding: 40px 20px;
    margin-left: 15%;
}
.dialogo2 {
    font-size: 25px;
    display: inline-block;
    width: 55%;
    padding: 40px 20px;
    margin-right: 15%;
    float:right;
}
.dialogo3 {
    font-size: 25px;
    display: inline-block;
    width: 55%;
    padding: 40px 20px;
    margin-left: 15%;
}
#businessSgobbo {
    width: calc(678px/1.7);
    height: calc(254px/1.7);
    position: absolute;
    left:150px;
    top: 1285px;
    opacity: 0;
}
#costoSgobbo {
    width: calc(667px/1.7);
    height: calc(278px/1.7);
    position: absolute;
    right: 150px;
    top: 1285px;
    opacity: 0;
}
#tempoSgobbo {
    width: calc(600px/1.7);
    height: calc(267px/1.7);
    position: absolute;
    left:160px;
    top: 1580px;
    opacity: 0;
}
#parcheggiSgobbo {
    width: calc(600px/1.7);
    height: calc(262px/1.7);
    position: absolute;
    right: 165px;
    top: 1580px;
    opacity: 0;
}
.ginaPollice {
    width: calc(375px);
    height: calc(600px);
    top: 1250px;
    position: absolute;
    left: calc(50% - (375px / 2));
    opacity: 0;
}
#divSocial {
    height: 270px;
    width: 100%;
    top: 1950px;
    background-color: rgb(15,15,15);
    position: absolute;
    opacity: 0.65;
}
#containerIcons {
    margin: 0 auto;
    margin-top: 50px;
    width: calc((1000px / 2.7) + 125px);
}
.iconsSoc {
    margin: 0 15px;
    cursor: pointer;
}
#facebook {
    width: calc(250px/2.75);
    height: calc(250px/2.75);
}
#email {
    width: calc(250px/2.65);
    height: calc(250px/2.65);
}
#instagram {
    width: calc(250px/2.7);
    height: calc(250px/2.7);
}
#linkedin {
    width: calc(250px/2.7);
    height: calc(250px/2.7);
}
#scritta-email {
    text-align: center;
    font-size: 28px;
    color: whitesmoke;
}
.textDialog {
    opacity: 0;
}

@media (max-width: 770px) {
    /*landing page*/
    #parcheggiSgobbo {
        width: calc(600px/2.5) !important;
        height: calc(262px/2.5) !important;
        right: 60px !important;
    }
    #tempoSgobbo {
        width: calc(600px/2.5) !important;
        height: calc(267px/2.5) !important;
        left: 45px !important;
    }
    #costoSgobbo{
        width: calc(667px/2.5) !important;
        height: calc(278px/2.5) !important;
        right: 40px !important;
    }
    #businessSgobbo {
        width: calc(678px/2.5) !important;
        height: calc(254px/2.5) !important;
        left: 38px !important;
    }
    .ginaPollice {
        width: calc(600px/2) !important;
        height: calc(960px/2) !important;
        left: calc(50% - (300px/2));
    }
    .container-backgroundL:nth-child(2) {
        margin-left: 20% !important;
    }
    .gine {
        position: absolute !important;
    }
    .dialogo1{
        font-size: 22px !important;
        display: inline-block !important;
        width: 70% !important;
        padding: 40px 20px !important;
        margin-left: 0 !important;
    }
    .dialogo2{
        font-size: 22px !important;
        display: inline-block !important;
        width: 70% !important;
        padding: 40px 20px !important;
        margin-right: 0 !important;
    }
    .dialogo3{
        font-size: 22px !important;
        display: inline-block !important;
        width: 55% !important;
        padding: 25px 20px !important;
        margin-left: 0 !important;
    }
    .ginaCiao {
        margin-right: 0px !important;
    }
    .ginaCartella {
        left:120px !important;
    }
    .ginaPaziente {
        width: calc(600px/1.8) !important;
        height: calc(506px/1.8) !important;
    }
    .container-backgroundL {
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
    /*landing page*/
}

@media (max-width: 500px) {
    #divSocial {
        height: 185px !important;
        top: 1600px !important;
    }
    #containerIcons {
        margin-top: 20px !important;
        width: calc((1000px / 5) + 82px) !important;
    }
    .iconsSoc {
        margin: 0 10px !important;
    }
    #facebook {
        width: calc(250px/5) !important;
        height: calc(250px/5) !important;
    }
    #email {
        width: calc(250px/5) !important;
        height: calc(250px/5) !important;
    }
    #instagram {
        width: calc(250px/5) !important;
        height: calc(250px/5) !important;
    }
    #linkedin {
        width: calc(250px/5);
        height: calc(250px/5);
    }
    #scritta-email {
        font-size: 22px !important;
    }
    
    #parcheggiSgobbo {
        width: calc(600px/3.9) !important;
        height: calc(262px/3.9) !important;
        right: 1px !important;
        top: 1400px !important
    }
    #tempoSgobbo {
        width: calc(600px/3.9) !important;
        height: calc(267px/3.9) !important;
        left: 1px !important;
        top: 1400px !important
    }
    #costoSgobbo{
        width: calc(667px/3.9) !important;
        height: calc(278px/3.9) !important;
        right: 3px !important;
        top: 1185px !important
    }
    #businessSgobbo {
        width: calc(678px/4.2) !important;
        height: calc(254px/4.2) !important;
        left: 2px !important;
        top: 1185px !important
    }
    .ginaCartella {
        left: -33px !important;
    }
    .ginaCiao {
        left: 210px !important;
    }
    .ginaPaziente[_ngcontent-c4] {
        width: calc(600px/2.7) !important;
        height: calc(506px/2.7) !important;
        left: 190px !important;
        top: 867px !important;
        z-index: 1 !important;
    }
    .ginaPollice {
        left: calc(50% - (300px/3.1)) !important;
        width: calc(600px/3.1) !important;
        height: calc(960px/3.1) !important;
        top: 1150px;
    }
    .dialogo1{
        font-size: 18px !important;
        width: 70% !important;
        padding: 40px 20px !important;
        margin-left: 0 !important;
    }
    .dialogo2{
        font-size: 18px !important;
        width: 70% !important;
        padding: 40px 20px !important;
        margin-right: 0 !important;
    }
    .dialogo3{
        font-size: 18px !important;
        width: 55% !important;
        padding: 25px 20px !important;
        margin-left: 0 !important;
        position: absolute !important;
        z-index: 2 !important;
    }
}
@media (max-width: 390px) {
    .ginaPaziente[_ngcontent-c4] {
        width: calc(600px/3) !important;
        height: calc(506px/3) !important;
        left: 140px !important;
        top: 867px !important;
        z-index: 1 !important;
    }
    .ginaCiao {
        left: 197px !important;
    }
}