<div class="container">
  <div [@slide1]="this.animations['slide1'].val" class="container-backgroundL fromL">
    <div class="dialogo1">
      <div class="textDialog" [@text]="this.animations['text1'].val">Ciao, sono <b>Gina</b>, il primo assistente medico digitale. 
        Nasco dall' esigenza di metter fine a tutte le inefficienze e perdite di tempo che, nonostante sia il 2019, affliggono ancora gli studi medici.</div>
    </div>
    <img [@img1]="this.animations['img1'].val" src="../assets/Ambulance-Doctor.gif" alt="gina" class="gine ginaCiao">
  </div>
  <div [@slide2]="this.animations['slide2'].val" class="container-backgroundL fromR">
    <img [@img2]="this.animations['img2'].val" src="../assets/DoctorWritingonClipboard.gif" alt="gina" class="gine ginaCartella">
    <div class="dialogo2">
      <div class="textDialog" [@text]="this.animations['text2'].val">Mi preoccupo dell' interazione tra medico e paziente gestendo <b>automaticamente</b> richieste ripetitive. Niente più telefonate o piccioni viaggiatori per accordarsi su appuntamenti, ricette, ecc...</div>
    </div>
  </div>
  <div [@slide3]="this.animations['slide3'].val" class="container-backgroundL fromL">
    <div class="dialogo3">
      <div class="textDialog" [@text]="this.animations['text3'].val">Ho premura anche della sala d'attesa! Gestisco la coda assicurandomi che ogni paziente si trattenga <b>il meno possibile</b> in fila, è gia abbastanza stressante esser malati, figuriamoci esserlo in coda.</div>
    </div>
    <img [@img3]="this.animations['img3'].val" src="../assets/DoctorWithPatient.gif" alt="gina" class="gine ginaPaziente">
  </div>
  <div>
      <img alt="vantaggio" [@sgobbo1]="this.animations['sgobbo1'].val" id="businessSgobbo" src="../assets/businessSgobbo.png">
      <img alt="vantaggio" [@sgobbo2]="this.animations['sgobbo2'].val" id="costoSgobbo" src="../assets/costoSgobbo.png">
      <img alt="vantaggio" [@sgobbo3]="this.animations['sgobbo3'].val" id="tempoSgobbo" src="../assets/tempoSgobbo.png">
      <img alt="vantaggio" [@sgobbo4]="this.animations['sgobbo4'].val" id="parcheggiSgobbo" src="../assets/parcheggiSgobbo.png">
      <img alt="gina" [@img4]="this.animations['img4'].val" src="../assets/DoctorThumbsUp.gif" class="ginaPollice">
  </div>
  <div id="divSocial">
    <p id="scritta-email"><b>SEGUIMI SU</b></p>
    <div id="containerIcons">
      <a href="https://www.facebook.com/GinaAssistant-2263368447274571/"><img alt="facebook" class="iconsSoc" id="facebook" src="../assets/facebook.png"></a>
      <a href="https://www.instagram.com/ginaassistant/"><img alt="instagram" class="iconsSoc" id="instagram" src="../assets/instagram.png"></a>
      <a href="https://www.linkedin.com/company/gina-assistant/"><img alt="linkedin" class="iconsSoc" id="linkedin" src="../assets/linkedin.png"></a>
      <a href="mailto:TeamGinaAssistant@gmail.com"><img alt="email" class="iconsSoc" id="email" src="../assets/gmail.png"></a>
    </div>
    <div [routerLink]="['/whitePaper']" style="cursor: pointer;color: white; text-align: center; font-size: 17px; margin-bottom: 5px;" routerLinkActive="router-link-active"><p><i class="material-icons">receipt</i><font style="position:relative; bottom: 5px;">&nbsp;Consulta il White Paper&nbsp;</font><i class="material-icons">receipt</i></p></div>
  </div>
</div>