.orari_settimana {
    width: 16.2%;
    display: inline-block;
}
.orari_field {
    width: 40%;
    margin: 0 1%;
}
.AM_PM_scritta {
    display: inline-block;
    width: 2%;
}
.scritta_giornoSett {
    width: 16.2%;
    display: inline-block;
}
.scritta_giornoSett mat-chip {
    margin: 0 auto;
    width: 55%;
    /*padding: 0 11.5% !important;*/
    display: block;
    height: 1.8em;
    text-align: center;
    padding-top: 2.5%;
}
.resetBtn {
    float: right;
    margin-right: 2%;
}
.circle {
    margin: 0 auto;
    margin-left: -42%;
    height: 2.8em;
    width: 2.8em;
    border-radius: 100%;
    color: rgba(0, 0, 0, 0);
    background-color: rgba(0, 0, 0, 0.23);
}