<div id="orariLavoro" *ngIf="calSer.orari['lun'] && tipo == 'attivita'">
    <div id="div_orariLavoro_AM">
        <button mat-stroked-button class="resetBtn" color="warn" (click)="azzeraOrario('attivita')">Reset</button>
        <h3> ORARI LAVORO </h3>
        <br>
        <div>
            <mat-chip-list class="scritta_giornoSett" style="margin-left:0.6%;">
                <mat-chip>
                    <font>LUNED&Igrave;</font>
                </mat-chip>
            </mat-chip-list>
            <mat-chip-list class="scritta_giornoSett">
                <mat-chip>
                    <font>MARTED&Igrave;</font>
                </mat-chip>
            </mat-chip-list>
            <mat-chip-list class="scritta_giornoSett">
                <mat-chip>
                    <font>MERCOLED&Igrave;</font>
                </mat-chip>
            </mat-chip-list>
            <mat-chip-list class="scritta_giornoSett">
                <mat-chip>
                    <font>GIOVED&Igrave;</font>
                </mat-chip>
            </mat-chip-list>
            <mat-chip-list class="scritta_giornoSett">
                <mat-chip>
                    <font>VENERD&Igrave;</font>
                </mat-chip>
            </mat-chip-list>
            <mat-chip-list class="scritta_giornoSett">
                <mat-chip>
                    <font>SABATO</font>
                </mat-chip>
            </mat-chip-list>
            <!--mat-chip-list class="scritta_giornoSett">
                <mat-chip ><font>DOMENICA</font></mat-chip>
            </mat-chip-list-->
        </div>
        <br>
        <div class="AM_PM_scritta">
            <h4>AM:&nbsp;&nbsp; </h4>
        </div>
        <div id="attivita_lun_AM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'lun')" type="time" [value]="calSer.orari['lun'].open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'lun')" type="time" [value]="calSer.orari.lun.close">
            </mat-form-field>
        </div>
        <div id="attivita_mar_AM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'mar')" type="time" [value]="calSer.orari['mar'].open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'mar')" type="time" [value]="calSer.orari.mar.close">
            </mat-form-field>
        </div>
        <div id="attivita_mer_AM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'mer')" type="time" [value]="calSer.orari.mer.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'mer')" type="time" [value]="calSer.orari.mer.close">
            </mat-form-field>
        </div>
        <div id="attivita_gio_AM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'gio')" type="time" [value]="calSer.orari.gio.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'gio')" type="time" [value]="calSer.orari.gio.close">
            </mat-form-field>
        </div>
        <div id="attivita_ven_AM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'ven')" type="time" [value]="calSer.orari.ven.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'ven')" type="time" [value]="calSer.orari.ven.close">
            </mat-form-field>
        </div>
        <div id="attivita_sab_AM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'sab')" type="time" [value]="calSer.orari.sab.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'sab')" type="time" [value]="calSer.orari.sab.close">
            </mat-form-field>
        </div>
        <!--div id="attivita_dom_AM" class="orari_settimana">
          <mat-form-field class="orari_field" appearance="outline">
              <mat-label>Apertura</mat-label>
              <input matInput (blur)="cambiaOrarioApertura($event,'dom')" type="time" [value]="calSer.orari.dom.open">
          </mat-form-field>
          <mat-form-field class="orari_field" appearance="outline">
              <mat-label>Chiusura</mat-label>
              <input matInput (blur)="cambiaOrarioChiusura($event,'dom')" type="time" [value]="calSer.orari.dom.close">
          </mat-form-field>
      </div-->
    </div>
    <div id="div_orariLavoro_PM">
        <div class="AM_PM_scritta">
            <h4>PM:&nbsp;&nbsp; </h4>
        </div>
        <div id="attivita_lun_PM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'lun2')" type="time" [value]="calSer.orari.lun2.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'lun2')" type="time" [value]="calSer.orari.lun2.close">
            </mat-form-field>
        </div>
        <div id="attivita_mar_PM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'mar2')" type="time" [value]="calSer.orari.mar2.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'mar2')" type="time" [value]="calSer.orari.mar2.close">
            </mat-form-field>
        </div>
        <div id="attivita_mer_PM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'mer2')" type="time" [value]="calSer.orari.mer2.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'mer2')" type="time" [value]="calSer.orari.mer2.close">
            </mat-form-field>
        </div>
        <div id="attivita_gio_PM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'gio2')" type="time" [value]="calSer.orari.gio2.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'gio2')" type="time" [value]="calSer.orari.gio2.close">
            </mat-form-field>
        </div>
        <div id="attivita_ven_PM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'ven2')" type="time" [value]="calSer.orari.ven2.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'ven2')" type="time" [value]="calSer.orari.ven2.close">
            </mat-form-field>
        </div>
        <div id="attivita_sab_PM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'sab2')" type="time" [value]="calSer.orari.sab2.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'sab2')" type="time" [value]="calSer.orari.sab2.close">
            </mat-form-field>
        </div>
        <!--div id="attivita_dom_PM" class="orari_settimana">
          <mat-form-field class="orari_field" appearance="outline">
              <mat-label>Apertura</mat-label>
              <input matInput (blur)="cambiaOrarioApertura($event,'dom2')" type="time" [value]="calSer.orari.dom2.open">
          </mat-form-field>
          <mat-form-field class="orari_field" appearance="outline">
              <mat-label>Chiusura</mat-label>
              <input matInput (blur)="cambiaOrarioChiusura($event,'dom2')" type="time" [value]="calSer.orari.dom2.close">
          </mat-form-field>
      </div-->
    </div>
</div>
<div id="orario_appuntamenti" *ngIf="calSer.orariAppuntamenti['lun']  && tipo == 'appuntamenti'">
    <div id="div_orariAppuntamenti_AM">
        <button mat-stroked-button class="resetBtn" color="warn" (click)="azzeraOrario('appuntamenti')">Reset</button>
        <h3> ORARI APPUNTAMENTI </h3>
        <br>
        <div>
            <mat-chip-list class="scritta_giornoSett" style="margin-left:0.6%;">
                <mat-chip>
                    <font>LUNED&Igrave;</font>
                </mat-chip>
            </mat-chip-list>
            <mat-chip-list class="scritta_giornoSett">
                <mat-chip>
                    <font>MARTED&Igrave;</font>
                </mat-chip>
            </mat-chip-list>
            <mat-chip-list class="scritta_giornoSett">
                <mat-chip>
                    <font>MERCOLED&Igrave;</font>
                </mat-chip>
            </mat-chip-list>
            <mat-chip-list class="scritta_giornoSett">
                <mat-chip>
                    <font>GIOVED&Igrave;</font>
                </mat-chip>
            </mat-chip-list>
            <mat-chip-list class="scritta_giornoSett">
                <mat-chip>
                    <font>VENERD&Igrave;</font>
                </mat-chip>
            </mat-chip-list>
            <mat-chip-list class="scritta_giornoSett">
                <mat-chip>
                    <font>SABATO</font>
                </mat-chip>
            </mat-chip-list>
            <!--mat-chip-list class="scritta_giornoSett">
              <mat-chip ><font>DOMENICA</font></mat-chip>
          </mat-chip-list-->
        </div>
        <br>
        <div class="AM_PM_scritta">
            <h4>AM:&nbsp;&nbsp; </h4>
        </div>
        <div id="appuntamenti_lun_AM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'lun','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.lun.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'lun','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.lun.close">
            </mat-form-field>
        </div>
        <div id="appuntamenti_mar_AM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'mar','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.mar.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'mar','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.mar.close">
            </mat-form-field>
        </div>
        <div id="appuntamenti_mer_AM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'mer','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.mer.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'mer','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.mer.close">
            </mat-form-field>
        </div>
        <div id="appuntamenti_gio_AM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'gio','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.gio.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'gio','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.gio.close">
            </mat-form-field>
        </div>
        <div id="appuntamenti_ven_AM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'ven','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.ven.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'ven','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.ven.close">
            </mat-form-field>
        </div>
        <div id="appuntamenti_sab_AM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'sab','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.sab.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'sab','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.sab.close">
            </mat-form-field>
        </div>
        <!--div id="appuntamenti_dom_AM" class="orari_settimana">
          <mat-form-field class="orari_field" appearance="outline">
              <mat-label>Apertura</mat-label>
              <input matInput (blur)="cambiaOrarioApertura($event,'dom','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.dom.open">
          </mat-form-field>
          <mat-form-field class="orari_field" appearance="outline">
              <mat-label>Chiusura</mat-label>
              <input matInput (blur)="cambiaOrarioChiusura($event,'dom','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.dom.close">
          </mat-form-field>
      </div-->
    </div>
    <div id="div_orariAppuntamenti_PM">
        <div class="AM_PM_scritta">
            <h4>PM:&nbsp;&nbsp; </h4>
        </div>
        <div id="appuntamenti_lun_PM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'lun2','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.lun2.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'lun2','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.lun2.close">
            </mat-form-field>
        </div>
        <div id="appuntamenti_mar_PM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'mar2','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.mar2.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'mar2','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.mar2.close">
            </mat-form-field>
        </div>
        <div id="appuntamenti_mer_PM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'mer2','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.mer2.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'mer2','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.mer2.close">
            </mat-form-field>
        </div>
        <div id="appuntamenti_gio_PM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'gio2','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.gio2.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'gio2','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.gio2.close">
            </mat-form-field>
        </div>
        <div id="appuntamenti_ven_PM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'ven2','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.ven2.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'ven2','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.ven2.close">
            </mat-form-field>
        </div>
        <div id="appuntamenti_sab_PM" class="orari_settimana">
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Apertura</mat-label>
                <input matInput (blur)="cambiaOrarioApertura($event,'sab2','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.sab2.open">
            </mat-form-field>
            <mat-form-field class="orari_field" appearance="outline">
                <mat-label>Chiusura</mat-label>
                <input matInput (blur)="cambiaOrarioChiusura($event,'sab2','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.sab2.close">
            </mat-form-field>
        </div>
        <!--div id="appuntamenti_dom_PM" class="orari_settimana">
          <mat-form-field class="orari_field" appearance="outline">
              <mat-label>Apertura</mat-label>
              <input matInput (blur)="cambiaOrarioApertura($event,'dom2','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.dom2.open">
          </mat-form-field>
          <mat-form-field class="orari_field" appearance="outline">
              <mat-label>Chiusura</mat-label>
              <input matInput (blur)="cambiaOrarioChiusura($event,'dom2','appuntamenti')" type="time" [value]="calSer.orariAppuntamenti.dom2.close">
          </mat-form-field>
      </div-->
    </div>
</div>