<h2>NUOVA SEDE:</h2>
<div style="margin-top: 2.5%">
        <mat-form-field class="" style="width: 65%">
            <input matInput required maxlength="5" minlength="5" class="form-control" id="codiceSede" placeholder="Codice identificativo" name="codiceSede" type="text" style="text-transform:uppercase" [(ngModel)]="codSede" #codiceSede="ngModel" codiceValidator>
            <button class="iconButton" matSuffix mat-icon-button matTooltip="codice identificativo della nuova sede" #tooltipCodFis="matTooltip" [matTooltipPosition]="'right'"><mat-icon>info</mat-icon></button>
            <div *ngIf="codiceSede.errors">
                <mat-error *ngIf="codiceSede.errors.codiceTaken">
                    uno studio è gia associato a questo codice
                </mat-error>
                <mat-error *ngIf="codiceSede.errors.minlength">
                    il codice sede è composto da 5 caratteri
                </mat-error>
            </div>
        </mat-form-field>
        <button style="float: right" class="prenotaBtn" color="primary" mat-raised-button type="submit" (click)="aggiungiNuovaSede(codSede)" [disabled]="codiceSede.invalid">CREA</button>
</div>
