<div class="container-background" *ngIf="dataSer.userData">
  <div class="divApp" *ngIf="dataSer.userData.medico">
    <h3>DATI: </h3>
    <h4>Sede selezionata: </h4>
    <mat-form-field *ngIf="medico" class="nominativoForm mat-field-smartphone">
      <mat-select placeholder="" [(value)]="medico.sedeRef">
        <mat-option (click)="cambiaSede(sede)" *ngFor="let sede of dataSer.userData.sedi" [value]="sede">
          {{sede}}
        </mat-option>
        <mat-option (click)="aggiungiNuovaSede()">
          aggiungi <i style="vertical-align: middle" class="material-icons">add_circle</i>
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <h4>Modalità Sala: </h4>
      <button *ngIf="dataSer.modSala=='false'" mat-raised-button color="primary" [routerLink]="['/home']" routerLinkActive="router-link-active" (click)="attivaModSala()">ATTIVA</button>
      <button *ngIf="dataSer.modSala=='true'" mat-raised-button color="primary"  (click)="attivaModSala()">DISATTIVA</button>
    </div>
  </div>
  <div class="divApp" *ngIf="!dataSer.userData.medico">
    <h3>DATI PERSONALI: </h3>
  </div>
  <form [formGroup]="codFisForm" (ngSubmit)="modificaCampi()" *ngIf="!dataSer.userData.medico">
    <div class="divApp">
      <h4>Codice Studio: </h4>
      <mat-form-field class="mat-field-smartphone">
          <input matInput class="form-control" formControlName="codSede" placeholder="" type="text" style="text-transform:uppercase" required maxlength="5" minlength="5" id="codiceSede" name="codiceSede">
          <button class="iconButton" matSuffix mat-icon-button matTooltip="Inserire il codice legato alla sede del tuo medico curante" #tooltipCodFis="matTooltip" [matTooltipPosition]="tooltipPosition"><mat-icon>info</mat-icon></button>
          <mat-error *ngIf="codSede.invalid">
              Non esiste uno studio associato a questo codice
          </mat-error>
      </mat-form-field>
    </div>
    <div class="divApp">
      <h4>Codice Fiscale:</h4>
      <mat-form-field class="mat-field-smartphone">
        <input matInput class="form-control" placeholder="" formControlName="codFis" style="text-transform:uppercase" >
        <button class="iconButton" matSuffix mat-icon-button matTooltip="Il codice fiscale è necessario al tuo medico per effettuare tutte le operazioni per soddisfare le tue richieste" #tooltipCodFis="matTooltip" [matTooltipPosition]="tooltipPosition"><mat-icon>info</mat-icon></button>
        <mat-error *ngIf="codFis.invalid">
            Codice Fiscale non corretto
        </mat-error>
      </mat-form-field>
    </div>
    <div class="divApp">
      <h4 > Nominativo: </h4>
      <mat-form-field class="nominativoForm mat-field-smartphone">
          <input matInput class="form-control" formControlName="nome" type="text" placeholder="Nome">
      </mat-form-field>
      <mat-form-field class="nominativoForm mat-field-smartphone">
          <input matInput class="form-control" formControlName="cognome" type="text" placeholder="Cognome" >
      </mat-form-field>
    </div>
    <div class="divApp">
        <button class="prenotaBtn" color="primary" mat-raised-button type="submit"  [disabled]="!codFisForm.valid">MODIFICA</button>
    </div>
  </form>
</div>
<app-login *ngIf="!dataSer.userData"></app-login>
<div class="container-background" *ngIf="dataSer.userData">
  <div class="divApp divLogout">
    <h4 id="scrittalogOut"><b>Vuoi Disconnetterti</b> ?</h4>
    <button mat-raised-button color="warn" id="logOut" (click)="logOut()">ESCI</button>
  </div>  
</div>

