.prenotaBtn {
    margin: 0 3%;
    width: calc(100% - 6%);
    height: 50px;
    display: inline-block;
}
.container-background {
    padding: 1% 0%;
    margin: 3% auto;
    width: 60%;
}
.divApp {
    width: 87%;
    margin: 1% auto;
}
h4 {
    display: inline-block;
    width: 150px;
    margin: 0 3%;
}
mat-form-field {
    display: inline-block;
    width: calc(90% - 150px);
    margin-right: 4%;
}
h3 {
    margin-left: 0%;
}
.nominativoForm {
    width: calc(44% - 75px);
    margin-right:2%;
}
#logOut {
    display:inline-block;
    float: right;
}
#scrittalogOut {
    width: auto;
    display: table-cell;
    vertical-align: middle;
}
.divLogout {
    display: table; 
    overflow: hidden;
}